* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    height: 120vh;
    background: linear-gradient(to bottom right, 
    #34D399, yellow);
}

h1 {
    font-size: 100px;
    font-style: italic;
    padding: 100px;
    color: #5B21B6;
}

input {
    margin: 20px;
    padding: 10px 40px;
    background-color: #b2ee3a;
    border: 1px solid black;
    border-radius: 10px;
}

label {
    font-size: xx-large;
    color: #5B21B6;
}

button {
    margin: 20px;
    padding: 10px;
    background-color: #b2ee3a;
    border: 1px solid black;
    border-radius: 10px;
    color: #5B21B6;
    cursor: pointer;
}

button:hover {
    background-color: aquamarine;
    transition: 0.5s;
    /* box-shadow: 3px 3px red, -1em 0 0.4em olive; */
    box-shadow: 2px -2px teal;
}

#output-box {
    padding: 30px;
    font-size: 30px;
}